<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentCourseSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentListServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentListServlet</servlet-name>
    <url-pattern>/studentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteStudentServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectStudentServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.SelectStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectStudentServlet</servlet-name>
    <url-pattern>/selectStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStudentServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentServlet</servlet-name>
    <url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showStudentDetailServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.ShowStudentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showStudentDetailServlet</servlet-name>
    <url-pattern>/showStudentDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getStudentPasswordServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.GetStudentPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudentPasswordServlet</servlet-name>
    <url-pattern>/getStudentPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStudentPasswordServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.UpdateStudentPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentPasswordServlet</servlet-name>
    <url-pattern>/updateStudentPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateAdminPasswordServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.UpdateAdminPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAdminPasswordServlet</servlet-name>
    <url-pattern>/updateAdminPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>classListServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.ClassListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classListServlet</servlet-name>
    <url-pattern>/classListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getStudentByClassNameServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.GetStudentByClassNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudentByClassNameServlet</servlet-name>
    <url-pattern>/getStudentByClassNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherListServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.TeacherListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherListServlet</servlet-name>
    <url-pattern>/teacherListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteTeacherServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTeacherServlet</servlet-name>
    <url-pattern>/deleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getChooseInfor</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.GetChooseInfor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getChooseInfor</servlet-name>
    <url-pattern>/getChooseInfor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chooseListServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.ChooseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseListServlet</servlet-name>
    <url-pattern>/chooseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectTeacherServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.SelectTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectTeacherServlet</servlet-name>
    <url-pattern>/selectTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateTeacherServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTeacherServlet</servlet-name>
    <url-pattern>/updateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentCourseServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.StudentCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentCourseServlet</servlet-name>
    <url-pattern>/studentCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getCourseScoreServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.GetCourseScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCourseScoreServlet</servlet-name>
    <url-pattern>/getCourseScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentInforServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.StudentInforServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentInforServlet</servlet-name>
    <url-pattern>/studentInforServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>courseJsonServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.CourseJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseJsonServlet</servlet-name>
    <url-pattern>/courseJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentChooseServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.StudentChooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentChooseServlet</servlet-name>
    <url-pattern>/studentChooseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateTeacherPasswordServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.UpdateTeacherPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTeacherPasswordServlet</servlet-name>
    <url-pattern>/updateTeacherPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherCourseServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.TeacherCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherCourseServlet</servlet-name>
    <url-pattern>/teacherCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherStudentServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.TeacherStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherStudentServlet</servlet-name>
    <url-pattern>/teacherStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherSelectStudent</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.TeacherSelectStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherSelectStudent</servlet-name>
    <url-pattern>/teacherSelectStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherStudentScoreServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.TeacherStudentScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherStudentScoreServlet</servlet-name>
    <url-pattern>/teacherStudentScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStudentScoreServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.AddStudentScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentScoreServlet</servlet-name>
    <url-pattern>/addStudentScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherJsonServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.TeacherJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherJsonServlet</servlet-name>
    <url-pattern>/teacherJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCourseServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCourseServlet</servlet-name>
    <url-pattern>/addCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addTeacherServlet</servlet-name>
    <servlet-class>com.siso.edu.course.servlet.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTeacherServlet</servlet-name>
    <url-pattern>/addTeacherServlet</url-pattern>
  </servlet-mapping>
</web-app>